{{ partial "header.html" . }}
<div class="container my-2">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    This site is currently under active development. Some features may not work
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <!-- Breadcrums for path -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
  <!-- end of crums -->

  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark container my-3">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to TTC {{ if not .IsHome }}{{ .Title }} {{ end }} !!</h1>
    </div>
  </div>

  <!-- start if inner body -->
  <div class="row g-5">
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">From Us</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <!-- cards starts from here -->
        <!-- only show the homepages of a tutorials -->

        {{ range (where .Data.Pages "Type" "in" "posts") }}
        <div class="col">
          <a href="{{ .RelPermalink }}" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('{{ .Params.thumbnail }}');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-shadow: 0 0 2px rgb(60, 60, 60);">{{
                  .Title }}</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="/assets/core-icns/{{.Params.author}}-icn.webp" alt="{{.Params.author}}-icn"
                      class="rounded-circle border border-white" width="32" height="32">
                  </li>
                  <li class="d-flex align-items-center">
                    <small class="badge rounded-pill bg-secondary">{{ dateFormat "Jan 2, 2006" .Date}}</small>
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
        <!-- end of cards -->
      </div>
    </div>
    <!-- End of inner -->
  </div>
</div>
{{ partial "footer.html" . }}