{{ partial "header.html" . }}

<div class="container my-2">
    <!-- Beta site alert -->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        This site is currently under active development. Some features may not work
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- End of alert  -->

    <!-- Breadcrums for path -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ .Parent.Permalink}}">{{ .Parent.Title}}</a></li>
            <!-- 
                THIS NEEDS TO BE POPULATED BY THE JOB FROM MD TO HTML
                target -> tittle of the post 
             -->
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
    </nav>
    <!-- end of crums -->

    <!-- Blog body -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                <!-- 
                    THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                    target -> tittle of the post and date
                -->
                <h2 class="blog-post-title mb-1">{{ .Title }}</h2>
                <p class="blog-post-meta">{{ .Date | time.Format ":date_long" }}
            </h3>
            <!-- Article body here -->
            <!-- 
                THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                target -> body
             -->
            <article class="blog-post">
                <img src="{{ .Params.articleImage }}" class="img-fluid" alt="Responsive image">
                <br>
                <br>
                {{ .Content }}
            </article>
            <!-- Article body here -->
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <!-- About author goes here -->
                <!-- enter the author data here -->
                <!-- dont change the 250px -->
                <!-- 
                        THIS NEEDS TO BE POPULATED BY THE BOT OR ANY JOB FROM MD TO HTML
                        target -> image link and name
                    -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About Author</h4>
                    <div class="card mb-3 " style="max-width: 250px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/core-icns/{{.Params.author}}-icn.webp" class="img-fluid rounded-start"
                                    alt="{{.Params.author}}-icn">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{.Params.author}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- author data ends here -->

                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Tags</h4>
                    <!-- Goes through tags and adds links with short -->
                    {{ with .Param "tags" }}
                    {{ range $index, $tag := (. | sort) }}
                    {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
                    <a href="{{ .Permalink }}" class="badge rounded-pill bg-dark ">{{ $tag | urlize }}</a>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    </a>
                </div>

                <!-- More from us -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">More from us</h4>
                    <ol class="list-unstyled">
                        <!-- Put links to cards to latest here -->
                        {{ range first 3 ( where .Site.RegularPages "Type" "in" site.Params.mainSections )}}
                        <a href="{{ .Permalink }}">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ .Params.thumbnail }}" class="img-fluid rounded-start"
                                            alt="{{ .Params.thumbnail }}-ICN">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ .Title }}</h5>
                                            <!-- Get publish date -->
                                            <p class="card-text">
                                                <small class="text-muted">{{ dateFormat "Monday, Jan 2, 2006" .Date}}</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{ end }}
                        <!-- end of latest -->
                </div>
                <!-- End -->

            </div>
        </div>
    </div>
    <a href="{{with .NextInSection}}{{.Permalink}}{{end}}" class="btn btn-secondary btn-lg active" role="button"
        aria-pressed="true">Previous Article</a>
    <a href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}" class="btn btn-primary btn-lg active"
        role="button" aria-pressed="true">Next Article</a>
    <!-- blog body end  -->
</div>


<!-- {{ .Content }} -->
{{ partial "footer.html" . }}