{{ partial "header.html" . }}

<div class="container my-2">
    <!-- Beta site alert -->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        This site is currently under active development. Some features may not work
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- End of alert  -->

    <!-- Breadcrums for path -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ .Parent.Permalink}}">{{ .Parent.Title}}</a></li>
            <!-- 
                THIS NEEDS TO BE POPULATED BY THE JOB FROM MD TO HTML
                target -> tittle of the post 
             -->
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
    </nav>
    <!-- end of crums -->

    <!-- Blog body -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                <!-- 
                    THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                    target -> tittle of the post and date
                -->
                <h2 class="blog-post-title mb-1">{{ .Title }}</h2>
                <p class="blog-post-meta">{{ .Date | time.Format ":date_long" }}
            </h3>
            <!-- Article body here -->
            <!-- 
                THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                target -> body
             -->
            <article class="blog-post">
                <img src="{{ .Params.articleImage }}" class="img-fluid" alt="Responsive image">
                <br>
                <br>
                {{ .Content }}
            </article>
            <!-- Article body here -->
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">

                <!-- Chapters based on categories -->
                {{ $related := site.RegularPages.RelatedIndices . "categories" }}
                {{ with $related }}
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Upcomming</h4>
                    <ol class="list-unstyled">
                        <!-- Put links to chapters here -->
                        {{ range . }}
                        <div class="card" style="width: 18rem;">
                            <a href="{{ .Permalink }}" style=" color: #FFFFFF; text-decoration: none;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ .Title }}</li>
                                </ul>
                            </a>
                        </div>
                        {{ end }}
                        <!-- end of chapters -->
                    </ol>
                    {{ end }}
                </div>
                <!-- End -->

                <!-- Tags goes here -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Tags</h4>
                    <!-- Goes through tags and adds links with short -->
                    {{ with .Param "tags" }}
                    {{ range $index, $tag := (. | sort) }}
                    {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
                    <a href="{{ .Permalink }}" class="badge rounded-pill bg-dark ">{{ $tag | urlize }}</a>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    </a>
                </div>
                <!-- end of tags -->

                <!-- About author goes here -->
                <!-- enter the author data here -->
                <!-- dont change the 250px -->
                <!-- 
                        THIS NEEDS TO BE POPULATED BY THE BOT OR ANY JOB FROM MD TO HTML
                        target -> image link and name
                    -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/core-icns/{{.Params.author}}-icn.webp" class="img-fluid rounded-start"
                                alt="{{.Params.author}}-icn">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 25px;">{{.Params.author}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- author data ends here -->
            </div>
        </div>

        <!-- Nav buttons -->
        <div class="py-5 text-center">

            {{ $pages := where site.RegularPages "Section" .Section }}

            {{ with $pages.ByLinkTitle.Reverse.Prev . }}
            <a href="{{.Permalink}}" role="button" class="btn btn-primary btn">Previous</a>
            {{ end }}

            {{ with $pages.ByLinkTitle.Reverse.Next . }}
            <a href="{{.Permalink}}" role="button" class="btn btn-primary btn">Next</a>
            {{ end }}


        </div>
        <!-- End of buttons -->

        <!-- More from us -->
        <div class="row g-5">
            <div class="container px-4 py-5" id="custom-cards">
                <h2 class="pb-2 border-bottom">More From Us</h2>
                <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

                    <!-- cards starts from here -->
                    {{ range first 3 .Site.RegularPages }}
                    <div class="col">
                        <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                                style="background-image: url('{{ .Params.thumbnail }}');">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"
                                        style="text-shadow: 0 0 2px rgb(60, 60, 60);">{{
                                        .Title }}</h2>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="me-auto">
                                            <img src="/assets/core-icns/{{.Params.author}}-icn.webp"
                                                alt="{{.Params.author}}-icn" class="rounded-circle border border-white"
                                                width="32" height="32">
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <small class="badge rounded-pill bg-secondary">{{ dateFormat "Jan 2, 2006"
                                                .Date}}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{ end }}
                    <!-- end of cards -->

                </div>
            </div>
        </div>
        <!-- End of more -->

    </div>
</div>
<!--  -->

<!-- blog body end  -->
</div>


<!-- {{ .Content }} -->
{{ partial "footer.html" . }}