{{ partial "header.html" . }}

<!-- End of nav bar -->
<div class="container my-2">
    <!-- Beta site alert -->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        This site is currently under active development. Some features may not work
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- End of alert  -->

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark container my-3">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">The Terminal Café</h1>
            <p class="lead my-3">
                Your one stop destination for everything technology and opensource.
                Here at TTC we believe that everyone should have access to the technology and the basic knowlege of
                how it works.
                Join us in our jourjey into the wonderful world of tech !!
            </p>
        </div>
    </div>

    <!-- start if inner body -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Meet the team
            </h3>
            <article class="blog-post">
                <h2 class="blog-post-title mb-1">Supermods</h2>
                <hr>
                <!-- Cards with info of super mods with profile pic will go here -->
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">𝓢𝓽𝓪𝓻𝓰𝓲𝓻𝓵 </h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Jez-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">KirottuM</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Kiro-icn.gif" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="blog-post-title mb-1">Moderators</h2>
                <!-- Cards with info of super mods with profile pic will go here -->
                <hr>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Rick</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Rick-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Femboy Supremacy</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Anime-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Partha</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Partha-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Deathmist</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Mist-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">zombii</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Zombi-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Quinton McLeod</h3>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="/assets/core-icns/Quinton-icn.webp" width="150" height="150" focusable="false"
                                    class="rounded float-start" alt="rust-art">
                            </div>
                        </div>
                    </div>
                </div>
                {{ .Content }}
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About Author</h4>
                    <div class="card mb-3 " style="max-width: 250px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/core-icns/{{.Params.author}}-icn.webp" class="img-fluid rounded-start"
                                    alt="{{.Params.author}}-icn">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{.Params.author}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If want to add more from us add mouke here  -->
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{{ partial "footer.html" . }}