{{ partial "header.html" . }}

<div class="container my-2">
    <!-- Beta site alert -->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        This site is currently under active development. Some features may not work
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- End of alert  -->

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark container my-3">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">The Terminal Café</h1>
            <p class="lead my-3">
                {{.Params.aboutBanner}}
            </p>
        </div>
    </div>

    <!-- Blog body -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                <!-- 
                    THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                    target -> tittle of the post and date
                -->
                <h2 class="blog-post-title mb-1">{{ .Title }}</h2>
            </h3>
            <!-- Article body here -->
            <!-- 
                THIS NEEDS TO BE POPULATED BY JOB FROM MD TO HTML
                target -> body
             -->
            <article class="blog-post">
                <br>
                <br>
                {{ .Content }}
            </article>
            <!-- Article body here -->
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <!-- About author goes here -->
                <!-- enter the author data here -->
                <!-- dont change the 250px -->
                <!-- 
                        THIS NEEDS TO BE POPULATED BY THE BOT OR ANY JOB FROM MD TO HTML
                        target -> image link and name
                    -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About Author</h4>
                    <div class="card mb-3 " style="max-width: 250px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/core-icns/{{.Params.author}}-icn.webp" class="img-fluid rounded-start"
                                    alt="{{.Params.author}}-icn">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{.Params.author}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- more from us can be added here -->
                
            </div>
        </div>
    </div>
    <!-- blog body end  -->
</div>


<!-- {{ .Content }} -->
{{ partial "footer.html" . }}