<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/assets/core-icns/icon2.png">
	<link rel="shortcut icon" sizes="192x192" href="/assets/core-icns/icon2.png">
	<link rel="apple-touch-icon" href="/assets/core-icns/icon2.png">
	<!-- end -->
</head>

<body>
	{{ partial "nav.html" . }}