{{ partial "header.html" . }}


<div class="container my-2">
    <!-- Beta site alert -->
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        This site is currently under active development. Some features may not work
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- End of alert  -->

    <!-- Carousel for the homepage -->
    <!-- 3 pages with diffrent topics will be placed here -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ ref . " /news/" }}">
                    <img src="assets/core-icns/img-c-1.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>News Corner</h5>
                        <p>Latest information about all the current FOSS sofware annd market trends</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ ref . " /tutorials/" }}">
                    <img src="assets/core-icns/img-c-2.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Code School</h5>
                        <p>Want to learn how to code !! You are in the right place</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ ref . " /hub/" }}">
                    <img src="assets/core-icns/img-c-3.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>TTC Hub</h5>
                        <p>Fun and welcoming place for other types of discussions</p>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End of Carousel -->


    <!-- Featured post , depends on the markdown flag type -->
    {{ range (where .Site.RegularPages ".Params.featured" "in" "true").ByDate.Reverse }}
    <section class="py-5 text-center container">
        <div class="row py-lg-5 "
            style="background-image: url('{{ .Params.articleImage }}'); background-size: 100%;background-repeat: no-repeat; ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" style="
                    color: rgb(0, 0, 0);
                    text-shadow: 0 0 5px rgb(255, 255, 255) ;">
                    {{ .Title }}
                </h1>
                <p>
                    <a href="{{ .RelPermalink }}" class="btn btn-primary my-2">Read More</a>
                </p>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- end -->

    <!-- <div class=" py-5 text-center container bg-light" id="custom-cards"> -->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <!-- cards starts from here -->
        {{ range first 6 (where .Site.RegularPages "Type" "in" "posts,intro").ByDate.Reverse }}
        <div class="col">
            <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                    style="background-image: url('{{ .Params.thumbnail }}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-shadow: 0 0 2px rgb(60, 60, 60);">
                            {{ .Title }}</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="/assets/core-icns/{{.Params.author}}-icn.webp" alt="{{.Params.author}}-icn"
                                    class="rounded-circle border border-white" width="32" height="32">
                            </li>
                            <li class="d-flex align-items-center">
                                <small class="badge rounded-pill bg-secondary">{{ dateFormat "Jan 2, 2006"
                                    .Date}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
        <!-- end of cards -->
    </div>
    <!-- </div> -->
</div>
{{ .Content }}

{{ partial "footer.html" . }}